#wd-dashboard {
  padding: 20px;
  border-radius: 8px;
  width: 66.67%;
}

#wd-dashboard-title, #wd-dashboard-published {
  color: #333;
  font-family: Arial, sans-serif;
}

hr {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin: 10px 0;
}

#wd-dashboard-courses {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.wd-dashboard-course {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  width: 200px;
}

