.circle-percent {
    display: inline-block;
    background: #ffffff; 
    border: 2px solid #000000; 
    border-radius: 50px; 
    padding: 0.25rem 0.75rem; 
    margin-left: 10px; 
}

.list-item-border {
    border-left: 6px solid green;
    border-top: 5px solid transparent;

}

.list-item-border {
    padding: 20px;
    margin-bottom: 10px;
    min-height: 100px;
}

